
.parent-container {
  border: 2px solid greenyellow;
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 100vh;
}

.item1 {
  background-image: linear-gradient(to left, rgb(113, 113, 228), rgb(194, 27, 27));
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6,1fr);
}

.side-bar1 {
  display: flex;
  height: 38px;
  padding-left: 5px;
  margin-left: 5px;
  color: white;
  font-weight: 600;
}

p {
  margin-left: 10px;
}

.logo-bar-image {
  object-fit: cover;
  height: 150px;
  margin-left: 45px;
  padding-top: 10px;
}

.item2 {
  background-color: none;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.item2-1 {
  background-color: rgb(7, 71, 71);
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-image: linear-gradient(to bottom, rgb(89, 233, 127), rgb(84, 84, 226));
  border: none;
}

.search-bar {
  height: 25px;
  width: 45vw;
  justify-self: center;
  align-self: center;
  border: none;
  border-radius: 15px;
}

.welcome {
  display: flex;
  gap: 15px;
  align-items: center;
  color: white;
  font-family: Arial(serif); 
}

.mascot {
  height: 50px;
  width: 50px;
  margin-left: 50px;
  border-radius: 25px;
}

.mascot:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.item2-2 {
  background-color: none;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.projects {
  display: grid;
  grid-template-rows: 1fr 6fr; 
  background-image: linear-gradient(to left, rgb(64, 140, 64), rgb(45, 45, 189))
}

.project-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 20px;
  
}

.card {
  justify-self: center;
  align-self: center;
}

.card-image {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 10px;
  z-index: 2;
  border: 2px solid white;
  cursor: pointer;
}

.card-image:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.your-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial Black (sans-serif);
  font-size: 40px;
  color: white;
  font-style: italic;
  font-weight: 700;
}

.side-bar {
  background-color: rgb(112, 226, 188);
  display: grid;
  grid-template-rows: 1.5fr 2fr;
}

.announcements {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 12px;
  background-image: linear-gradient(to left, blue, rgb(13, 99, 13));
  font-family: arial (sans-serif);
  color: white;
}

.news1 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.news-image {
  height: 40px;
  width: 40px;
  object-fit: cover;
  margin-left: 5px;
  border-radius: 20px;
}


.Trending {
  background-color: rgb(205, 68, 116);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
  padding: 5px;
  background-image: linear-gradient(to left, rgb(6, 66, 26), rgb(13, 8, 63));
}

.trending-image {
  height: 60px;
  object-fit: cover;
  border-radius: 60px;
  border: none; 
}

.trending-image:hover {
  transform: scale(1.3);
  transition: 0.5s;
  cursor: pointer;
}